@{
    ViewData["Title"] = " Herbs Management";
    var herbs = ViewBag.Herbs as List<dynamic> ?? new List<dynamic>();
}
 <h1 class="fw-semibold mb-0" style="display: inline-block; color: #333; padding-bottom: 4px; border-bottom: 3px solid #FF7F11; border-radius: 2px;">Herbs</h1><br /><br />
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-3">
       
        <input type="text" id="searchHerb"class="form-control w-25" placeholder="Search Herbs..." onkeyup="filterHerbs()"/>
    </div>
    <a asp-controller="Herbs"
       asp-action="AddHerb"
       class="btn btn-success btn-sm ">
        Add new Herb
    </a><br /><br />

    <div class="row">
        <div class="col-md-5">
            <div class="card shadow-sm">
                <div class="card-header bg-dark-subtle">
                    <h6 class="mb-0">Herb List</h6>
                </div>
                <div class="list-group list-group-flush" id="herbList">
                    @foreach(var herb in herbs )
                    {
                        <button type="button" class="list-group-item list-group-item-action herb-item"
                                data-name="@herb.Name"
                                onclick="loadHerb (
                                      '@herb.Name',
                                      '@herb.Benefits',
                                      '@herb.Usage')">
                                @herb.Name     
                        </button>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="card shadow-sm">
                <div class="card-header bg-dark-subtle">
                    <h6 class="mb-0">Herb Detail</h6>
                </div>
                <div class="card-body">
                   <form asp-action="AddHerb" method="post">
                      @Html.AntiForgeryToken()
                      <div class="mb-3">
                         <label class="form-label">Name</label>
                         <input type="text" name="Name" id="name" class="form-control" />
                      </div>
                      <div class="mb-3">
                         <label class="form-label">Benifts</label>
                         <textarea name="Benefits" id="benefits" class="form-control" rows="3"></textarea>
                      </div>
                      <div class="mb-3">
                         <label class="form-label">Usage</label>
                            <textarea name="Usage" id="usage" class="form-control" rows="3"></textarea>
                      </div>
                        <a class="btn btn-secondary btn-sm" href="/Herbs/Index">
                            Cancel
                        </a>

                        <button type="submit" class="btn btn-success btn-sm px-4">
                            Save
                        </button>
                   </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function filterHerbs() {
           let search = document.getElementById("searchHerb").value.toLowerCase();
           let items = document.getElementsByClassName("herb-item");

           for (let i = 0; i < items.length; i++) {
               let herbName = items[i].getAttribute("data-name").toLowerCase();

               if (herbName.includes(search)) {
                   items[i].style.display = "";
               } else {
                   items[i].style.display = "none";
               }
           }
    }
    function loadHerb(name, benefits, usage) {
        document.getElementById("name").value = name;
        document.getElementById("benefits").value = benefits;
        document.getElementById("usage").value = usage;
    }
</script>