@model dynamic

<h1>User Details</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">User ID: @Model.Id</h5>

        <p class="card-text">
            <strong>Name:</strong> @Model.Name
        </p>

        <p class="card-text">
            <strong>Email:</strong> @Model.Category
        </p>

        <p class="card-text">
            <strong>Phone:</strong> @Model.Date
        </p>
        <p class="card-text">
            <strong>Phone:</strong> @Model.Uploads
        </p>

        <a class="btn btn-primary" href="/Result/Index">Back</a>
    </div>
</div>
